@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #040303; }

.movies__wrapper {
  padding-bottom: 3em; }

.movies__header {
  color: #efefef;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box; }

.movies__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0; }

.movies__figure {
  overflow: hidden;
  margin: 0; }

.movies__link {
  color: #efefef; }

.movies__item {
  width: 100%;
  list-style: none;
  color: #efefef;
  text-align: center;
  margin: 1em;
  position: relative;
  max-height: 200vw; }
  @media (min-width: 479px) {
    .movies__item {
      width: calc(50% - 2em);
      max-height: 30em; } }
  @media (min-width: 767px) {
    .movies__item {
      width: calc(33% - 2em); } }
  .movies__item:hover {
    cursor: pointer; }
    .movies__item:hover .movies__img {
      transform: scale(1.05); }
    .movies__item:hover .movies__infos, .movies__item:hover .movies__caption {
      opacity: 1; }
    .movies__item:hover:before {
      opacity: 1; }
  .movies__item:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(38, 96, 164, 0.75) 0%, rgba(0, 0, 0, 0) 50%, rgba(38, 96, 164, 0.75) 100%);
    opacity: 0;
    transition: all 0.33s ease;
    pointer-events: none; }

.movies__infos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  opacity: 0;
  transition: all 0.33s ease;
  padding: 1em;
  text-align: left; }

.movies__popularity, .movies__votes {
  flex: 1;
  font-weight: 300; }

.movies__release_date {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1.25em; }

.movies__votes {
  text-align: right; }

.movies__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.33s ease; }

.movies__caption {
  opacity: 0;
  z-index: 1;
  position: absolute;
  bottom: 0;
  transition: all 0.33s ease;
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 1em;
  text-transform: uppercase;
  font-size: 1.5em;
  box-sizing: border-box;
  font-weight: bold; }

.movies__navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em;
  text-align: center;
  backdrop-filter: blur(0.25em);
  z-index: 999; }

.movies__prev, .movies__next {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  transition: all 0.15s ease; }
  .movies__prev:hover:disabled, .movies__next:hover:disabled {
    cursor: not-allowed; }
  .movies__prev:hover:enabled, .movies__next:hover:enabled {
    background-color: #F19953;
    cursor: pointer;
    color: #efefef; }

.movies__page {
  color: #efefef;
  padding: 1em;
  text-shadow: 0 0 10px black; }
