.movies {
  $this: &;

  overflow: hidden;

  &__wrapper {
    padding-bottom: 3em;
  }

  &__inner-wrapper {
    max-height: 100vh;
    overflow-y: auto;
  }

  &__header {
    color: $color-light;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em;
    user-select: none;
  }

  &__title {
    line-height: 1;
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
  }

  &__figure {
    overflow: hidden;
    margin: 0;
  }

  &__link {
    color: $color-light;
  }

  &__item {
    width: 100%;
    list-style: none;
    color: $color-light;
    text-align: center;
    margin: 1em;
    position: relative;
    max-height: 200vw;

    @include breakpoint(s) {
      width: calc(50% - 2em);
      max-height: 30em;
    }

    @include breakpoint(m) {
      width: calc(33% - 2em);
    }

    &:hover {
      cursor: pointer;

      #{$this} {
        &__img {
          transform: scale(1.05);
        }

        &__infos,
        &__caption {
          opacity: 1;
        }
      }

      &:before {
        opacity: 1;
      }
    }

    @include breakpoint(s) {
      #{$this} {
        &__infos,
        &__caption {
          opacity: 0;
        }
      }

      &:before {
        opacity: 0;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 1;
      background: linear-gradient(180deg, rgba($color-primary, 0.75) 0%, rgba(0, 0, 0, 0) 50%, rgba($color-primary, 0.75) 100%);
      transition: all 0.33s ease;
      pointer-events: none;
    }
  }

  &__infos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    transition: all 0.33s ease;
    padding: 1em;
    text-align: left;
  }

  &__popularity,
  &__votes {
    flex: 1;
    font-weight: 300;
  }

  &__release_date {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 1.25em;
  }

  &__popularity {
  }

  &__votes {
    text-align: right;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.33s ease;
  }

  &__caption {
    z-index: 1;
    position: absolute;
    bottom: 0;
    transition: all 0.33s ease;
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 1em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
  }

  &__navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
    backdrop-filter: blur(0.25em);
    z-index: 999;
  }

  &__prev,
  &__next {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    transition: all 0.15s ease;

    &:hover:disabled {
      cursor: not-allowed;
    }

    &:hover:enabled {
      background-color: $color-secondary;
      cursor: pointer;
      color: $color-light;
    }
  }

  &__page {
    color: $color-light;
    padding: 1em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }

  &__nav-github {
    width: 100%;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    margin: 1em 1em 0;

    @include breakpoint(m) {
      width: auto;
      float: right;
      transition: all 0.2s ease;

      &:hover {
        color: $color-light;
      }
    }
  }
}
